/* Jitenshea app CSS */

html, body {
    margin: 0;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.body-index {
    color: #fff;
    font-size: 16px;
    text-shadow: 0px 0px 2px #444;
}

.body-bg-1 {
    background: url(img/bg-front-1.jpg) no-repeat center center fixed; 
}
.body-bg-2 {
    background: url(img/bg-front-2.jpg) no-repeat center center fixed; 
}
.body-bg-3 {
    background: url(img/bg-front-3.jpg) no-repeat center center fixed; 
}

.body-index h2 {
    font-size: 40px;
}

.body-index h3 {
    font-size: 30px;
}


ul.cities {
    margin: 0 auto;
    width: 50%;
}

ul.cities li {
    width: 250px;
    height: 250px;
    border: 1px solid #aaa;
    display: inline-block;
}

ul.cities .block {
    opacity: 0.8;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: 1s;
}

ul.cities .block:hover {
    opacity: 1;
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

ul.cities .block-lyon {
    background: url(img/bordeaux.jpg) no-repeat left top 
}

ul.cities .block-bordeaux {
    background: url(img/lyon.jpg) no-repeat left top; 
}

ul.cities .block .desc {
    color: #ffffff;
    background: rgba(100, 100, 100, 0.5);
    width: 100%;
    height: 30%;
    padding: 10px;
    bottom: 0;
    position: absolute;
}
